In [2]:
import pandas as pd
import xarray as xr
import pickle

In [31]:
pre_data = pd.read_csv('https://pysilcam.blob.core.windows.net/test-data/output_PET_cryo_d56_2.csv')
pre_data.head()

,UPID,particle,t1,t2,x1,x2,y1,y2,ecd,length,width,UPID-backward-match,UPID-forward-match
0,0,0.0,2020-03-20 14:26:07.019034,2020-03-20 14:26:07.175247,1561.573099,1560.773810,54.076023,53.898810,14.755472,20.584893,10.828379,NaN,218.0
1,1,1.0,2020-03-20 14:26:07.019034,2020-03-20 14:26:07.175247,244.089744,244.852459,74.282051,74.786885,9.965575,13.803501,7.459985,NaN,219.0
2,2,2.0,2020-03-20 14:26:07.019034,2020-03-20 14:26:07.175247,1691.310345,1691.830189,89.379310,87.207547,8.593480,10.606292,7.012901,NaN,220.0
3,3,3.0,2020-03-20 14:26:07.019034,2020-03-20 14:26:07.175247,1667.391304,1667.645833,90.239130,89.979167,7.653040,8.681662,6.944093,NaN,221.0
4,4,4.0,2020-03-20 14:26:07.019034,2020-03-20 14:26:07.175247,1387.058140,1387.829545,97.534884,97.977273,10.464158,12.322952,9.527275,NaN,222.0

In [30]:
pre_data_xr = xr.Dataset.from_dataframe(pre_data)
pre_data_xr_dataset = xr.Dataset.from_dataframe(pre_data_xr)
pre_data_xr_dataset.Dataset.to_netcdf('nctest.nc')

AttributeError: 'Dataset' object has no attribute 'columns'

In [23]:
post_data, post_tracks = pickle.load(open('https://pysilcam.blob.core.windows.net/test-data/data-TRACKS.pkl','rb'))
keys = list(data.keys())
post_tracks[keys[0]].head()

,UPID,particle,t1,t2,x1,x2,y1,y2,ecd,length,...,UPID-forward-match,x-arrival,y-arrival,t-arrival,n-tracks,x-departure,y-departure,t-departure,S_cms,X_cms
1456,1456,14.0,2020-03-20 10:04:28.654768,2020-03-20 10:04:28.810981,1368.020833,1367.277778,591.916667,592.074074,7.817640,8.718688,...,NaN,1381.924528,592.490566,2020-03-20 10:04:26.172101,17.0,1367.277778,592.074074,2020-03-20 10:04:28.810981,0.015288,-0.015282
1483,1483,41.0,2020-03-20 10:04:28.654768,2020-03-20 10:04:28.810981,1747.285714,1738.980769,1142.122449,1142.076923,7.898654,9.054609,...,NaN,1885.254902,1138.274510,2020-03-20 10:04:26.172101,17.0,1738.980769,1142.076923,2020-03-20 10:04:28.810981,0.152666,-0.152615
1651,1651,31.0,2020-03-20 10:04:28.967195,2020-03-20 10:04:29.132420,1936.423077,1904.691589,1010.576923,1057.742991,9.965575,10.067230,...,NaN,2000.304878,1008.768293,2020-03-20 10:04:26.172101,19.0,1904.691589,1057.742991,2020-03-20 10:04:29.132420,0.099913,-0.088926
1877,1877,7.0,2020-03-20 10:04:29.435631,2020-03-20 10:04:29.591845,1034.885057,1036.162791,395.195402,395.593023,10.524820,12.495452,...,NaN,1029.000000,394.500000,2020-03-20 10:04:26.172101,22.0,1036.162791,395.593023,2020-03-20 10:04:29.591845,0.005834,0.005767
1905,1905,35.0,2020-03-20 10:04:29.435631,2020-03-20 10:04:29.591845,50.173913,29.331606,1074.505435,1075.031088,15.306080,19.942824,...,NaN,489.385542,1065.969880,2020-03-20 10:04:26.172101,22.0,29.331606,1075.031088,2020-03-20 10:04:29.591845,0.370466,-0.370394